html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
}

div.content {
  line-height: 200%;
}

div.content h3 {
  margin-top: 50px;
}

div.post-content {
  line-height: 200%;
}

div.post-content > h3 {
  margin-top: 50px;
}


@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

div.banner {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #C0C0C0;
}

div.banner a:link    { text-decoration: none; color: black; }
div.banner a:visited { text-decoration: none; color: black; }
div.banner a:active  { text-decoration: none; color: black; }
div.banner a:hover   { text-decoration: none; color: black; }

div.excerpt-body a:link    { text-decoration: none; color: black; }
div.excerpt-body a:visited { text-decoration: none; color: black; }
div.excerpt-body a:active  { text-decoration: none; color: black; }
div.excerpt-body a:hover   { text-decoration: none; color: black; }

div.banner div {
  text-align: center;
}


div#main {
  padding-top: 30px;
}

div.excerpt {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #C0C0C0;
}

div#feed img {
  margin: 0px auto;
}

div#sidebar > div {
  padding-top: 40px;
  text-align: center;
}

div#mugshot img {
  border-radius: 7px;
  box-shadow: 5px 5px 5px #C0C0C0;
}

div.post-title {
  margin-bottom: 40px;
  text-align: center;
}

.post-title  h2 {
  margin-top: 25px;
}

p.post-date {
    font-size: 75%;
}

div.post-content {
  margin-top: 25px;
  margin-bottom: 40px;
}

div.post-nav {
  margin-bottom: 60px;
}

div.post-comments {
}

.post-nav {
  padding: 0 60px 0 60px;
}

.post-nav button {
  width: 200px;
}

.highlight  {
  /* margin: 20px 20px 20px 20px; */
}

.tour-content {
  margin-top: 50px;
}

.tour-nav {
  margin-top: 50px;
}

.tour-footer {
  border-top: 1px solid #C0C0C0;
  margin-top: 25px;
  font-size: 80%;
}


.page-prologue {
  margin-top: 50px;
}

.page-content {
  margin-top: 50px;
}

.page-epilogue {
  margin-top: 50px;
}

.page-footer {
  border-top: 1px solid #C0C0C0;
  margin-top: 50px;
  margin-bottom: 75px;
  font-size: 80%;
}

img#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tagline {
  margin-top: 30px;
}
